<form method="post" action="/login">
	<input name="email" type="email" placeholder="email"></input>
	<input name="password" type="password" placeholder="password"></input>
	<input type="submit" value="Login">
</form>