	<h1>Codewars Challenge</h1>
	Secret key: <strong><%= ENV['HANS_SALTY_ASSAULT_CONSULTING_API'] %></strong>
	<ul>
	<% @roster.each do |person| %>
	<li><a href="/profile/<%= person %>"><%= person %></a></li>
	<% end %>
	</ul>