<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Codewars Challengers</title>
	<link rel="stylesheet" type="text/css" href="/css/default.css" />
</head>
<body>
<%= yield %>
</body>
</html>